# Virtualenv files
env/
.idea/

# Installed libraries
lib/
node_modules/
bower_components/
!client/js/lib/

# Python compiled
*.pyc

# API keys
server/cartodb_apikey.py
server/gcs_apikey.py

# Management scripts
launch.sh
deploy.sh
