<div ng-include="'//mol.org/partials/header-thin' | trustUrl" mol-window-resize="windowResize"></div>
<div ng-include src="'/inventory/assets/views/inventory/nav.html'"></div>
<div class="mol-inventory-container">
  <div class="mol-inventory-table">
    <mol-facet data-rows="rows" data-headers="fields" data-choices="choices"/>
  </div>
  <div class="mol-inventory-map">
    <leaflet width="100%"
      layers="map.layers"
      center="map.center"
      event-broadcast="map.events"
      mol-window-resize="windowResize" />
  </div>
</div>
<i ng-if="!fields.length" class="fa fa-spinner fa-spin fa-4x"></i>
<div ng-include="'//mol.org/partials/footer-thin' | trustUrl" mol-window-resize="windowResize"></div>
