.fa-spinner {
  position: absolute;
  top: 200px;
  left: 75px;
}

.mol-inventory-container a {
  color: black;
}

.mol-control {
  margin-top: 10px;
}

.mol-control label {
  margin-left: 6px;
}

.mol-view-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.mol-inventory-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
}

.mol-inventory-table {
  margin: 4px;
  margin-right: 2px;
  padding: 4px;
  padding-right: 2px;
  -webkit-flex: 2 1 auto;
  flex: 2 1 auto;
  max-width: 300px;
}

.mol-inventory-map {
  -webkit-flex: 3 1 auto%;
  flex: 3 1 auto;
}

.mol-inventory-container small {
  white-space: normal;
  text-indent: hanging;
}

@media (max-width: 768px) {
  .mol-inventory-container {
    -webkit-flex-flow: column;
    flex-flow: column;
  }
}
