
<div class="navigation">
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-right" id="navbar" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% if g.get('user', None) %}
                        <li><a href="/upload">Upload</a></li>
                        <li><a href="/upload/records">Datasets</a></li>
                        <li><a href="https://auth.mol.org/dashboard">Dashboard</a></li>
                        <li><a href="https://auth.mol.org/profile">Profile</a></li>
                        <li><a href="https://auth.mol.org/logout">Logout</a></li>
                        {% else %}
                        <li><a href="https://auth.mol.org/login?next=%2Fdashboard">Login</a></li>
                        <li><a href="https://auth.mol.org/register?next=%2Fdashboard">Register</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav visible-xxs">
                    </ul>
                    <ul class="nav navbar-nav visible-xxs">
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
