<div class="mol-facets">
  <div
     ng-repeat="field in facets.fields track by $index"
     is-open="status.open">
    <div class="views-inventory-facet-group-title">
      <i ng-click="c=(c==undefined)?true:!c;"
        class="pull-right clickable fa"
        ng-class="{'fa-caret-down':!c, 'fa-caret-up':c}"></i>
      <i
        class="pull-right clickable fa fa-times"
        ng-show="choices[field.value]"
        ng-click="choices[field.value]=undefined"></i>
      <h4 class="left">
        {{field.title}}
      </h4>


    </div>
    <div class="col-xs-offset-1" uib-collapse="c" ng-repeat="
      (value, group) in facets.rows.map(getColumn($index)) |
        flatten:shallow | orderBy:'title' | groupBy:'value' ">
        <label class="clickable">
          <input type="checkbox"
                 ng-model="choices[field.value][value]">
          {{group[0].title}}&nbsp;({{group.length}})
        </label>
    </div>
  </div>
</div>
