<div class="mol-facets">
  <uib-accordion close-others="false">
    <uib-accordion-group ng-repeat="field in fields track by $index" is-open="status.open">
      <uib-accordion-heading>
        {{field.title}}
        <button class="btn btn-xs pull-right" ng-click="clearClicked($event, $index)">x</button>
      </uib-accordion-heading>
      <div ng-repeat="option in options[$index]">
        <label>
          <input type="checkbox"
                 ng-model="values[$parent.$index][option.value]"
                 ng-change="optionClicked({{$parent.$index}}, {{option}})"/>
          <small ng-bind-html="option.title"></small>
        </label>
      </div>
    </uib-accordion-group>
  </uib-accordion>
</div>
